.view {
  margin: 16px 16px 0px 16px;
  //   padding: 8px;
}
.button {
  margin: 0 8px;
}
.at-row {
  margin-bottom: 16px;
}
.at-col-8 {
  padding-left: 24px;
}

.modalButton {
  margin-top: 0px;
  // width: auto;
}

.modalContent {
  padding: 10px;
  font-size: 32px;
}
.at-input__title {
  width: auto;
}
.at-input {
  margin-left: auto;
}

#pwd {
  display: flex;
  justify-content: center;
  font-size: 40rpx;
}

// .container {
//   padding-left: 16px;
// }
