.view {
  margin: 16px 16px 0px 16px;
  //   padding: 8px;
}
.button {
  margin: 0 8px 0 8px;
}
.at-row {
  margin-bottom: 16px;
}
.at-col-8 {
  padding-left: 24px;
}

.modalButton {
  margin-top: 0px;
  // width: auto;
}

// .container {
//   padding-left: 16px;
// }
